
@{
    switch (ViewBag.language)
    {
        case "tr":
            ViewData["Title"] = "Ana Sayfa";
            break;
        case "en":
            ViewData["Title"] = "Home Page";
            break;
        case "de":
            ViewData["Title"] = "Startseite";
            break;
        default:
            ViewData["Title"] = "Ana Sayfa";
            break;
    }

    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="post-parent">
    <h2> <a href="#">Azure Üzerinde Redis Cache Kullanımı</a></h2>
    <div class="information">
        <p> 1 EYLÜL 2018</p>
        <p> SAMET ŞENTÜRK</p>
        <p> AZURE </p>
    </div>
    <p class="post-parag">Bu yazımızda Azure üzerindeki minik maceralarımıza devam ediyoruz. Amacımız bir Redis Cache hizmetini devreye almak ve basit bir .Net Core istemcisinden yararlanarak kendisiyle konuşmak. Önce portaldan yararlanarak bir Redis Cache hizmetini devreye alacağız. Ardından StackExchange.Redis paketini kullanıp istemci tarafını geliştireceğiz. Redis'e ECHO komutu ile mesaj gönderecek ve kullanıcı tanımlı nesne örneklerini de nasıl kullanacağımız irdeleyeceğiz. Haydi gelin başlayalım. <a href="#">[ Daha Fazla ]</a></p>
</div>
<div class="post-parent">
    <h2> <a href="#">Azure Üzerinde Redis Cache Kullanımı</a></h2>
    <div class="information">
        <p> 1 EYLÜL 2018</p>
        <p> SAMET ŞENTÜRK</p>
        <p> AZURE </p>
    </div>
    <p class="post-parag">Bu yazımızda Azure üzerindeki minik maceralarımıza devam ediyoruz. Amacımız bir Redis Cache hizmetini devreye almak ve basit bir .Net Core istemcisinden yararlanarak kendisiyle konuşmak. Önce portaldan yararlanarak bir Redis Cache hizmetini devreye alacağız. Ardından StackExchange.Redis paketini kullanıp istemci tarafını geliştireceğiz. Redis'e ECHO komutu ile mesaj gönderecek ve kullanıcı tanımlı nesne örneklerini de nasıl kullanacağımız irdeleyeceğiz. Haydi gelin başlayalım. <a href="#">[ Daha Fazla ]</a></p>
</div>
<nav aria-label="Page navigation post-pagination">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Önceki</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Sıradaki</a></li>
    </ul>
</nav>